/*Colocando as fontes no arquivo*/
@font-face {
    font-family: 'Ovo';
    src: url("Ovo.woff");
}

@font-face {
    font-family: 'Poet';
    src: url("PoetsenOne-Regular.woff");
}




/*Estilizando texto*/
p{
    font-family: 'Ovo', 'Roboto Condensed';
    font-size: 20px;
}

h2{
    font-family: 'Poet', Impact, 'Arial Narrow Bold';
    margin-bottom: 90px;
    text-align: center;
}

#sobre h2{
    text-align: left;
}

h3{
    font-family: 'Ovo', 'Roboto Condensed';
    font-size: 25px;
    font-weight: bold;
}

.galeria-texto{
    font-size: 30px;
    font-weight: bold ;
    font-family: 'Ovo';
}




/*Barra de navegação - inicio*/
nav, footer{
    background:#4682B4;
}

.logo{
    width: 120px;
    margin-right: 240px;
}

.nav-texto{
    color: #fff !important;
    font-family: 'Ovo' ;
    font-size: 18px;
    text-transform: uppercase;
    margin-right:5px;   
    
}

.nav-texto:hover{
    color: #0000ff !important;
}
/*Barra de navegação - fim*/


/*Margin padrão entre seções*/
#equipe, #equipe2, #aprovados, #galeria, #contato, #inscreva, footer{
    margin-top: 200px;
}




/*inicio seção sobre*/
#sobre{
    margin-top: 200px;
}

#sobre p{
    text-align: justify;
}

#sobre h2{
    margin-bottom: 30px;
}

.sobre-conteudo{
    margin-right: 44px;
    margin-left: 17px;
}
/*Fim seção sobre*/



/*Inicio seção equipe*/
#equipe{
    height: 600px;
}

.conteudo-equipe{
    margin-right: 17px;
    width: 180px;
}

.imagem-equipe{
    width: 180px;
    height: 320px;
}

.primeira-img{
    margin-left: 150px ;
}

.ultima-img{
    margin-right: 150px;
}


.fa-chevron-right, .fa-chevron-left{
    color: #000;
    font-size: 50px;
}

/*FIm seção equipe*/



/*Inicio seção aprovados*/
.aprovados-img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: 0 76px;
}

.margin-entre-aprovados{
    margin: 90px 0;
}

.margin-conteudo-aprovado-esquerda{
    margin-left: 76px;
}

.margin-conteudo-aprovado-direita{
    margin-right: 76px;
}
/*Fim seção aprovados*/



/*Inicio seção galeria*/
.galeria-img{
    width: 400px;
    height: 250px;
}

.margin-segunda-coluna-galeria{
    margin-top: 90px;
}
/*fim seção galeria*/



/*inicio seção contato*/
.tamanho-gps{
    width: 500px;
    height: 400px;
}
/*Fim seção contato*/



.btn-primary{
    background-color: #0000ff;
    width: 260px;
    font-family: 'Ovo';
    font-size: 35px;
    padding: 20px;
    border-radius: 50px;
}

/*Inicio rodapé*/
footer a{
    text-decoration: none;
}

.logo-rodape{
    width: 120px;
}

.ibilce{
    width: 240px;
    filter: brightness(500%);
    margin-left: 30px;
    
}

.img-redes-sociais{
    fill: #fff;
    width: 50px;
    margin-left: 10px;
}

.img-redes-sociais:hover{
    fill: #0000ff;
}

/*Fim rodapé*/





/*Media queries*/

@media (max-width:575.98px){
    .logo{
        margin-right: 0px;
    }

    .sobre-conteudo{
        margin-right: 0;
        margin-left: 0;
    }

    #equipe2{
        height: 450px;
    }

    .conteudo-equipe{
        margin-right: 15px;
        width: 100px;
    }

    .conteudo-equipe p {
        font-size: 16px;
    }

    .imagem-equipe{
        width: 100px;
        height: 185px;
    }

    .primeira-img{
        margin-left: 35px ;
    }
    
    .ultima-img{
        margin-right: 35px;
    }

    .aprovados-img{
        width: 200px;
        height: 200px;
    }

    .margin-conteudo-aprovado-esquerda, .margin-conteudo-aprovado-direita{
        margin: 40px 0;
    }

    .galeria-img{
        width: 300px;
        height: 200px;
    }

    .margin-segunda-coluna-galeria{
        margin-top: 0px;
    }

    .tamanho-gps{
        width: 300px;
        height: 200px;
    }

    .logo-rodape{
        width: 80px;
    }

    .ibilce{
        width: 200px;
        filter: brightness(500%);
    }
    
    .img-redes-sociais{
        width: 30px;
        margin-left: 10px;
    }   

}

@media (min-width:576px) and (max-width:767.98px){
    .sobre-conteudo{
        margin-right: 0;
        margin-left: 0;
    }

    #equipe2{
        height: 480px;
    }

    .conteudo-equipe{
        margin-right: 10px;
        width: 125px;
    }

    .imagem-equipe{
        width: 125px;
        height: 220px;
    }

    .primeira-img{
        margin-left: 56px ;
    }
    
    .ultima-img{
        margin-right: 56px;
    }

    .aprovados-img{
        width: 200px;
        height: 200px;
    }

    .margin-conteudo-aprovado-esquerda, .margin-conteudo-aprovado-direita{
        margin: 40px 0;
    }

    .margin-segunda-coluna-galeria{
        margin-top: 0px;
    }

    
    

}

@media (min-width:768px) and (max-width: 991.98px){
    .nav-texto{
        font-size: 11px;  
    }

    .logo{
        width: 70px;
        margin-right: 0px;
    }

    h2{
        font-size: 26px;
    }

    p{
        font-size: 14px;
    }

    .sobre-conteudo{
        margin-right: 0;
        margin-left: 0;
    }

    #equipe2{
        height: 460px;
    }

    .conteudo-equipe{
        margin-right: 17px;
        width: 120px;
    }

    .imagem-equipe{
        width: 120px;
        height: 215px;
    }

    .primeira-img{
        margin-left: 80px ;
    }
    
    .ultima-img{
        margin-right: 80px;
    }

    .aprovados-img{
        width: 200px;
        height: 200px;
    }

    .margin-conteudo-aprovado-esquerda{
        margin-left: 10px;
    }
    
    .margin-conteudo-aprovado-direita{
        margin-right: 10px;
    }

    .galeria-img{
        width: 230px;
        height: 170px;
    }

    .tamanho-gps{
        width: 350px;
        height: 250px;
    }
    

    


}

@media (min-width:992px) and (max-width: 1199.98px){
    .nav-texto{
        font-size: 14px;  
    }

    .logo{
        width: 120px;
        margin-right: 40px;
    }

    p{
        font-size: 16px;
    }

    .sobre-conteudo{
        margin-right: 0;
        margin-left: 0;
    }

    #equipe{
        height: 480px;
    }

    .conteudo-equipe{
        margin-right: 17px;
        width: 120px;
    }

    .imagem-equipe{
        width: 120px;
        height: 215px;
    }

    .primeira-img{
        margin-left: 100px ;
    }
    
    .ultima-img{
        margin-right: 100px;
    }

    .aprovados-img{
        width: 300px;
        height: 300px;
    }

    .galeria-img{
        width: 300px;
        height: 200px;
    }

    .tamanho-gps{
        width: 400px;
        height: 300px;
    }



    
}

@media (min-width:1200px) and (max-width: 1399.98px) {
    .nav-texto{
        font-size: 16px;
        margin-right:3px ;   
    }

    .logo{
        width: 120px;
        margin-right: 160px;
    }

    .conteudo-equipe{
        margin-right: 10px;
        width: 160px;
    }

    .imagem-equipe{
        width: 150px;
        height: 290px;
    }

    .primeira-img{
        margin-left: 100px ;
    }
    
    .ultima-img{
        margin-right: 100px;
    }

    .galeria-img{
        width: 350px;
        height: 200px;
    }
    
}
